.list-group {
  margin-top: 2rem;
  max-width: 50%;
  margin: 8rem auto;
}

.anchor-buttons {
  float: right;
  margin-left: 5px;
}

.individual-player:hover {
  background-color: #fff;
}

.list-label {
  text-align: center;
  font-size: 1.5rem;
}

#add-button {
  border-color: rgb(49, 49, 49);
  margin: 5px;
}

#staff-table {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
